.popup__button-save {
  padding: 0;
  margin-bottom: 37px;
  margin-top: 18px;
  background-color: #000;
  color: #FFF;
  font-size: 18px;
  line-height: 22px;
  width: 83%;
  min-width: max-content;
  min-height: 50px;
  border: 0;
  cursor: pointer;
  transform: opacity 0.4s;
}

.popup__button-save:hover {
  opacity: 0.8;
  border-radius: 2px;
}

@media screen and (max-width: 900px) {
  .popup__button-save {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 25px;
  }
}