.profile__title {
  margin: 0;
  padding-top: 22px;
  padding-bottom: 16px;
  font-size: 42px;
  line-height: 1.14;
  color: #FFFFFF;
  min-width: max-content;
}

@media screen and (max-width: 320px) {
  .profile__title {
    font-size: 27px;
    line-height: 33px;
  }
}