.popup__form {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .popup__form {
    min-width: 282px;
    max-height: 200px;
  }
}