.elements__cards {
  min-height: min-content;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  margin-top: 22px;
}