.popup__body {
  position: relative;
  background-color: white;
  border-radius: 10px;
  min-width: 430px;
  min-height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}