.elements__like {
  width: 22px;
  height: 19px;
  padding-right: 30px;
  cursor: pointer;
  transform: opacity 0.4s;
}
.elements__like:active {
  background-image: url("../../../images/LikeActive.svg");
}

.elements__like:hover {
  opacity: 0.5;
}